html,
.animsition {
  min-height: 100%;
}
.animsition {
}
body {
  &.lock-scroll {
    overflow: hidden;
  }
  &.cart-open {
    overflow: hidden;
  }
  background: #f1f1f1;
  min-height: 100%;
}
main {
  position: relative;
  z-index: 1;
}
img:not([src]) {
  visibility: hidden;
}
.container {
  padding: 0 20px;
}
#content {
  //margin-bottom: 60px;
  @include respond-max($tablet-landscape) {
    margin-top: 50px;
  }
}
#page {
  margin-top: 80px;
  @include respond-min($tablet-landscape) {
    margin-left: 200px;
    min-height: 100%;
  }
  &.full-width-page {
    margin-left: 0;
  }
}
.black-bg {
  background: black;
  color: $ivory;
  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $ivory;
  }
}
.hide-mobile {
  @include respond-max($tablet-portrait) {
    display: none;
  }
}
.hide-desktop {
  @include respond-min($tablet-portrait) {
    display: none !important;
  }
}
.title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.dark-hover {
    @include transition((background-color 0.3s ease-in-out));
    &:hover {
      background-color: rgba(0, 0, 0, 0.6) !important;
    }
  }
}
.slick-arrow,
.fp-controlArrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 31px;
  height: 31px;
  padding: 10px;
  z-index: 2;
  opacity: 0;
  @include transition((opacity 0.3s ease-in-out));
  @include animation("fadeIn .3s linear 1s forwards");
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;

    border-width: 0px 2px 2px 0px;
    border-style: solid solid;
    border-color: #f5f1e1 #f5f1e1;
    border-left: 0px;
    border-top: 0px;
    cursor: pointer;
  }
  &.arrow-left,
  &.arrow-right,
  &.fp-prev,
  &.fp-next {
    z-index: 99;
  }
  &.arrow-left,
  &.fp-prev {
    left: 20px;
    @include transform(rotate(135deg));
    &:after {
    }
    @include transition((padding 0.3s ease-in-out));
  }
  &.arrow-right,
  &.fp-next {
    right: 20px;
    @include transform(rotate(-45deg));
    &:after {
    }
    @include transition((padding 0.3s ease-in-out));
  }
}

.down-arrow {
  position: absolute;
  bottom: 2%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  color: #f5f1e1;
  left: 50%;
  @include transform(translateX(-50%));
  @include animation("fadeIn .3s linear 1s forwards");
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 20px auto 0;
    transform: rotate(45deg);
    border-width: 0px 2px 2px 0px;
    border-style: solid solid;
    border-color: #f5f1e1 #f5f1e1;
    border-left: 0px;
    border-top: 0px;
    transform: rotate(45deg) translate(-50%, -50%);
  }
  &.gold {
    color: $gold;
    &:after {
      border-color: $gold;
    }
  }
}
.slick-slide {
  outline: none;
}
.full-slideshow {
  background: black;
  position: relative;
  height: 100vh;
  @include respond-max($tablet-portrait) {
    height: auto;
  }
  .full-slideshow-nav {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    ul {
      display: inline-block;
      li {
        display: inline-block;
        padding: 5px;
        font-size: 0;
        &.slick-active {
          .dot {
            background: white;
          }
        }
        .dot {
          text-indent: -9999px;
          overflow: hidden;
          display: block;
          border: none;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background: #aaa;
          font-size: 0;
          line-height: 0;
          text-indent: -1000em;
          outline: none;
        }
      }
    }
  }
  .slides {
    .slide {
      outline: none;
      position: relative;
      background-position: top;
      background-repeat: no-repeat;
      img {
        display: none;
      }
      @include respond-max($tablet-portrait) {
        background-image: none;
      }
      height: calc(100vh - 50px);
      @include respond-min($mobile) {
        height: auto;
      }
      @include respond-min($tablet-landscape) {
        height: calc(100vh);
      }
      &.video {
        @include respond-min($tablet-landscape) {
          background-image: none !important;
          background: black;
          background-size: cover;
          background-position: center center;
        }
      }
      &.image {
        background-size: cover;
        background-position: center center;
      }

      .mobile-only {
        @include respond-min($tablet-portrait) {
          display: none !important;
        }
      }
      video,
      img,
      .video-player {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      video {
        opacity: 0;
        visibility: hidden;
        @include transition(
          (opacity 0.5s ease-in-out, visibility 0.5s ease-in-out)
        );
        &.mobile {
          display: none;
        }
        @include respond-max($tablet-portrait) {
          display: none;
          &.mobile {
            display: block;
          }
        }
      }
      img {
        &.mobile {
          display: none;
          @include respond-max($tablet-portrait) {
            display: block;
          }
        }
      }
      &.loaded,
      &.slick-cloned {
        video {
          opacity: 1;
          visibility: visible;
        }
        .slide-cover {
          background-color: transparent;
        }
      }
      .slide-cover {
        height: 100%;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        z-index: 1;
        @include transition((background-color 0.75s ease-in-out));
        @include respond-min($tablet-landscape) {
          align-items: center;
        }
        .slide-info {
          width: 100%;
          margin: 0 20px;
          max-width: 775px;
          @include transition(
            (opacity 0.05s ease-in-out, visibility 0.05s ease-in-out)
          );
          @include keyframes(fadeInSlide) {
            0% {
              opacity: 0;
              visibility: hidden;
            }
            100% {
              opacity: 1;
              visibility: visible;
            }
          }
          opacity: 0;
          visibility: hidden;
          text-align: center;
          padding-bottom: 80px;
          @include respond-min($mobile) {
            padding-bottom: 340px;
          }
          @include respond-min($tablet-portrait) {
            padding-bottom: 0;
          }
          img {
            display: inline-block;
            object-fit: none;
            height: auto;
            width: auto;
            margin-bottom: 10px;
          }
          color: rgb(245, 241, 225);
          h2 {
            font-family: "HelveticaNeueLTStd-LtEx",
              "Helvetica Neue Light Extended", "HelveticaNeue", "Helvetica Neue",
              Helvetica, Arial, sans-serif;
            font-size: 28px;
            line-height: 1em;
            letter-spacing: 0;
            text-transform: uppercase;
            display: block;
            color: $ivory;
            letter-spacing: 0.05em;
            @include respond-min($tablet-landscape) {
              font-size: 35px;
            }
            &.large {
              font-size: 50px;
              text-transform: uppercase;
            }
          }
          h3 {
            font-family: "HelveticaNeueLTStd-BdEx",
              "Helvetica Neue Bold Extended", Helvetica, Arial, sans-serif;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            color: $ivory;
            margin-bottom: 6px;
            margin-top: 8px;
            @include respond-min(1024) {
              //font-size: 27px;
            }
          }
          p {
            font-family: "HelveticaNeueLTStd-Lt", "Helvetica Neue Light ",
              "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            display: block;
            letter-spacing: 0.01em;
            font-size: 20px;
            line-height: 22px;
            & + p {
              margin-top: 20px;
            }
          }
          .small-link {
            outline: none;
            display: block;
            text-align: left;
            font-family: "HelveticaNeueLTStd-Lt", "Helvetica Neue Light ",
              "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: rgb(245, 241, 225);
            font-size: 16px;
          }
        }
      }
      &.slick-current,
      &.visible {
        .slide-info {
          @include animation("fadeInSlide .3s linear .3s forwards");
        }
      }
    }
  }
}
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 0;
  @include animation("fadeIn .1s linear forwards");
}
.scroll-watch {
  img,
  h1,
  h2,
  h3,
  h4,
  a,
  p,
  blockquote {
    opacity: 0;
  }
  *.loaded {
    @include animation("fadeIn .5s linear forwards");
  }
  img.loaded {
    @include animation("fadeIn .3s linear forwards");
  }
}
// Description Hack
.fall-product {
  dd {
    dl:first-child {
      display: none;
      + div.border-separate {
        display: none;
      }
    }
  }
}
.cover-area {
  position: relative;
  @include respond-min($tablet-portrait) {
    min-height: 85vh;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
  }
  .cover-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: none;
  }
  &.short {
    @include respond-min($tablet-portrait) {
      min-height: 50vh;
      max-height: 50vh;
    }
  }
}
.image-blocks {
  padding: 20px 20px 0 20px;
  @include respond($tablet-portrait) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .large-square {
    flex-basis: 49%;
    margin-bottom: 20px;
    @include respond($tablet-portrait) {
      margin-bottom: 2%;
    }
  }
  .two-thirds {
    flex-basis: 66%;
    margin-bottom: 20px;
    @include respond($tablet-portrait) {
      margin-bottom: 2%;
    }
  }
  .four-up {
    flex-basis: 49%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
    @include respond($tablet-portrait) {
      margin-bottom: 2%;
    }

    figure {
      flex-basis: 48%;
      margin-bottom: 20px;
      @include respond($tablet-portrait) {
        margin-bottom: 0;
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 4%;
        }
      }
    }
  }
  .two-up {
    flex-basis: 32%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
    @include respond($tablet-portrait) {
      margin-bottom: 2%;
    }
    figure {
      flex-basis: 100%;
      margin-bottom: 20px;
      @include respond($tablet-portrait) {
        margin-bottom: 0;
        &:nth-child(1) {
          margin-bottom: 4%;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .full-width {
    margin-bottom: 20px;
    position: relative;
    height: 35vh;
    overflow: hidden;
    @include respond($tablet-portrait) {
      height: 400px;
    }
    img {
      max-width: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
}
.content-blocks {
  .full-width-block {
    margin-top: 40px;
  }
  .callout-block {
    color: white;
    text-align: center;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    .callout-title {
      font-family: "HelveticaNeueLTStd-Md", Helvetica, Arial, sans-serif;
      font-size: 22px;
      letter-spacing: 0.03em;
      line-height: 42px;
    }
    .callout-text {
      font-family: "HelveticaNeueLTStd-Lt", "HelveticaNeue", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
      font-size: 20px;
      letter-spacing: 0.02em;
      line-height: 40px;
    }
  }
  .image-columns-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px 30px;
    &.three-column {
      .image-block {
        @include respond($tablet-portrait) {
          flex-basis: 32.667%;
          padding: 1% 0.5% 0;
        }
      }
    }
    &.four-column {
      .image-block {
        @include respond($tablet-portrait) {
          flex-basis: 24.334%;
          padding: 1% 0.5% 0;
        }
      }
    }
    .image-block {
      position: relative;
      padding-top: 20px;
      @include respond-min($tablet-portrait) {
        padding-top: 1%;
      }
      figcaption {
        display: block;
        a {
          position: absolute;
          bottom: 10px;
          color: white;
          left: 10px;
          text-transform: uppercase;
          font-size: 12px;
          display: inline-block;
          width: calc(100% - 10px);
        }
      }
    }
  }
  .image-text-block {
    padding-top: 20px;
    padding-bottom: 3.5em;
    @include respond($tablet-portrait) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 20px 20px 4.5em;
    }

    &:nth-child(even) {
      flex-direction: row;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 1em;
    }
    .image-text-image {
      padding-bottom: 3.5em;
      @include respond($tablet-portrait) {
        flex-basis: 48%;
        padding-bottom: 0;
      }
    }
    .image-text-text {
      padding: 0 20px;
      text-align: center;
      color: $gold;
      @include respond($tablet-portrait) {
        flex-basis: 48%;
        padding: 0;
      }
      .text-content p {
        font-family: "HelveticaNeueLTStd-LtEx", "Helvetica Neue Light Extended",
          "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.03em;
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
        strong {
          font-family: "HelveticaNeueLTStd-Md", "HelveticaNeue",
            "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }
      h6 {
        font-size: 15px;
        text-transform: none;
        margin-bottom: 1rem;
      }
      a {
        color: $gold;
      }
    }
  }
}
// ahcks
.page-apple-awards {
  p {
    font-size: 15px !important;
    letter-spacing: 0.7px;
  }
}
.video-overlay {
  max-width: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: black;
  z-index: 9996;
  @include respond-min($tablet-portrait) {
    top: 0;
  }
  @include transition((opacity 0.3s ease-in-out, visibility 0.3s ease-in-out));
  &.video-open {
    visibility: visible;
    opacity: 1;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    padding: 10px;
  }
  .video-holder {
    position: absolute;
    bottom: 0px;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}
.video-responsive {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  @include respond-min($tablet-portrait) {
    width: 90%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@import "partials/newsletter-popup.scss";

figure {
  position: relative;
  figcaption {
    &.over-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      span {
        font-family: "HelveticaNeueLTStd-LtEx", "Helvetica Neue Light Extended",
          "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $ivory;
        font-size: 24px;
        letter-spacing: 0.07em;
        margin-bottom: 1em;
      }
    }
    &.ivory,
    span {
      color: $ivory;
    }
  }
}
