nav.top-menu {
  width: 100%;
  background: black;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  &.transparent-bg {
    background: transparent;
  }
  .main-menu {
    overflow-y: auto;
    -ms-overflow-style: auto;
    width: 50%;
    transform: translate3d(-100%, 0, 0);
    @include transition((transform 0.3s ease-in-out));
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 9;
    background: black;
    padding-right: 30px;

    @include respond-max($tablet-portrait) {
      width: 80%;
    }
  }
  .main-menu ul,
  .main-menu {
    padding-left: 15px;
    li {
      list-style: none;
      line-height: 26px;
      position: relative;
      @include respond-max($tablet-landscape) {
        line-height: 34px;
      }
      &.current-menu-item > a,
      &.current-menu-parent > a {
        font-family: "HelveticaNeueLTStd-Bd", "Helvetica Neue Bold", Helvetica,
          Arial, sans-serif;
        color: #e5ceb2 !important;
      }
      &.menu-item-has-children {
        @include respond-max($tablet-landscape) {
          &:after {
            color: #e5ceb2;
            font-family: "icons" !important;
            content: "\65";
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
      a {
        width: 100%;
        display: block;
        font-family: "HelveticaNeueLTStd-Lt", "Helvetica Neue Light", Helvetica,
          Arial, sans-serif;
        color: #e5ceb2;
        font-size: 13px;
        letter-spacing: 0.1em;
        text-decoration: none;
        &:visited {
          color: #e5ceb2;
          text-decoration: none;
        }
      }
    }
  }

  ul li ul {
    overflow: hidden;
    max-height: 0;
    @include transition((max-height 0.3s ease-in-out));
    &.open {
      max-height: 1000px;
    }
    li {
      &.current-menu-item a {
        font-family: "HelveticaNeueLTStd-Bd", "Helvetica Neue Bold", Helvetica,
          Arial, sans-serif;
      }
      a {
        color: #aaa;
        font-family: "HelveticaNeueLTStd-Lt", "Helvetica Neue Light", Helvetica,
          Arial, sans-serif;
        &:visited {
          color: #aaa;
          text-decoration: none;
        }
      }
    }
  }
  .social {
    position: absolute;
    padding-bottom: 30px;
    padding-top: 10px;
    bottom: 0;
    background: transparent;
    z-index: 9;
    @include respond-max($tablet-landscape) {
      display: none;
    }
    a {
      color: #e5ceb2;
      padding: 8px;
      font-size: 13px;
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .nav-bar {
    text-align: center;
    padding: 30px 0 30px;
    @include respond-max($tablet-landscape) {
      height: 60px;
      width: 100%;
      background: black;
      position: fixed;
      top: 0;
      z-index: 9;
      padding: 10px 0;
    }
    .menu-logo {
      height: 28px;
      display: block;
      img {
        height: 30px;
        position: relative;
        top: -3px;
      }
      a {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        width: auto;
        height: 100%;
        svg {
          height: 100%;
          fill: #e5ceb2;
          * {
            fill: #e5ceb2;
          }
        }
      }
    }
    .tagline {
      display: none;
      @include respond-max($tablet-landscape) {
        display: inline-block;
        position: relative;
        top: -5px;
      }
      color: #e5ceb2;
      font-size: 9.5px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
  }
}
.menu-link {
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  margin-right: -10px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 8;
  color: #e5ceb2;
  @include respond-min($tablet-landscape) {
    display: block;
  }
  @include respond-max($mobile) {
    padding: 17px;
    margin-right: -17px;
  }
  .menu-open & {
    .menu-icon {
      opacity: 1;
      transform: rotate(-180deg);
      &:before {
        transform: translate3d(-100%, 0px, 0);
        opacity: 0;
        width: 0;
      }
      &:after {
        transform: translate3d(100%, 0px, 0);
        opacity: 0;
        width: 0;
      }
      .center {
        transform: rotate(-45deg);
        &:before {
          transform: rotate(-90deg);
        }
      }
    }
  }
  &:hover {
    .menu-icon {
      &:before {
        transform: translate3d(0, 2px, 0);
      }
      &:after {
        transform: translate3d(0, -2px, 0);
      }
    }
  }
  .menu-icon {
    position: relative;
    display: block;
    width: 20px;
    height: 15px;
    transition: transform 0.4s ease-in-out;
    &:before,
    &:after,
    .center,
    .center:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #e5ceb2;
      position: absolute;
      transition: transform $md-speed ease-in-out, opacity $md-speed ease-in-out,
        width $md-speed ease-in-out;
    }
    &:before {
      top: 0;
      left: 0;
    }
    &:after {
      bottom: 0;
      right: 0;
    }
    .center {
      top: 50%;
      margin-top: -1px;
      &:before {
      }
    }
  }
}
.menu-open {
  nav.top-menu {
    .main-menu {
      transform: translate3d(0%, 0, 0);
    }
  }
}
.mobile-search {
  display: none;
  @include respond-max($tablet-landscape) {
    display: block;
    padding-bottom: 10px;
  }
  .search {
    display: block;
    color: #e5ceb2;
    input {
      -webkit-appearance: none;
      border-radius: 0;
      border-bottom-color: #e5ceb2;
      width: calc(100% - 26px);
      color: #e5ceb2;
      font-size: 14px;
    }
    button {
      color: #e5ceb2;
    }
  }
}
.search {
  display: none;
  @include respond-min($tablet-landscape) {
    display: inline-block;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
  }
  button {
    font-size: 24px;
    padding: 0;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    .material-icons {
      position: relative;
      top: 4px;
    }
  }
}
.cart-search {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 19px;
  @include respond-min($tablet-landscape) {
    margin-top: 20px;
    margin-right: 30px;
  }
  user-select: none;

  .cart-info {
    display: inline-block;
    position: relative;
    top: 3px;
    padding-left: 6px;
    color: #e5ceb2;
    font-size: 15px;
    cursor: pointer;
    @include respond-min($tablet-landscape) {
      color: black;
    }
    .cart-icon {
      display: inline-block;

      &:before {
        font-family: "icomoon" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        content: "\e901";
      }
    }
    .cart-num {
      position: relative;
      top: -2px;
      display: inline-block;
    }
    .cart-close {
      display: none;
      font-size: 22px;
      position: relative;
      top: -3px;
    }
  }
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #e5ceb2;
  text-align: center;
  @include transition((opacity 0.3s ease-in-out, visibility 0.3s ease-in-out));
  @include respond-min($tablet-portrait) {
  }
  @include respond-min($tablet-landscape) {
    width: 100%;
  }
  @include respond-max($tablet-landscape) {
    top: 60px;
  }
  .no-items {
    opacity: 0;
    visibility: hidden;
    height: 0;
    @include transition(
      (opacity 0.3s ease-in-out, visibility 0.3s ease-in-out)
    );
  }
  .checkout-button {
    @include transition(
      (opacity 0.3s ease-in-out, visibility 0.3s ease-in-out)
    );
    opacity: 1;
    visibility: visible;
    @include respond-min($tablet-landscape) {
      position: fixed;
      bottom: 0;
    }

    background: #e5ceb2;
    text-transform: uppercase;
    color: black;
    text-align: center;
    width: 100%;
    display: block;
    line-height: 40px;
  }
  &.empty {
    .no-items {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
    .cart-total {
      opacity: 0;
      visibility: hidden;
    }
    .checkout-button {
      opacity: 0;
      visibility: hidden;
    }
  }
  .cart-sidebar {
    height: 100%;
    overflow: scroll;
    @include respond-min($tablet-landscape) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
    }
    transform: translate3d(100%, 0, 0);
    @include transition((transform 0.3s ease-in-out));
    background: black;
    width: 400px;
    padding-top: 20px;
    @include respond-max($tablet-landscape) {
      top: 60px;
      width: 100%;
    }
    .close {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      font-size: 22px;
    }
  }
  .cart-items {
    padding: 0 20px 20px;
    .cart-item {
      position: relative;
      padding: 20px 0;
      border-bottom: 1px solid white;
      text-align: left;
      @include transition((border-color 0.3s ease-in-out));
      &:last-child {
        padding: 20px 0 0;
        border-bottom: none;
      }
      &.removing {
        .cart-item-content {
          @include transform(translate(-110%, 0));
          opacity: 0;
        }
        border-color: transparent;
      }
      .cart-item-content {
        opacity: 1;
        @include transform(translate(0, 0));
        @include transition(
          (transform 0.3s ease-in-out, opacity 0.3s ease-in-out)
        );
      }
      .cart-item-image {
        width: 30%;
        max-width: 100px;
        display: inline-block;
        vertical-align: top;
      }
      .cart-item-details {
        width: 67%;
        display: inline-block;
        vertical-align: top;
        padding-left: 20px;
        .cart-item-title {
          font-size: 15px;
          padding-bottom: 6px;
        }
        .cart-item-size,
        .cart-item-color {
          label {
            display: inline-block;
            min-width: 50px;
          }
          font-size: 13px;
          line-height: 13px;
        }
        .cart-item-price {
          font-size: 15px;
          position: absolute;
          bottom: 0px;
          right: 0;
        }
        .cart-item-qty {
          position: absolute;
          bottom: 0px;
          left: 30%;
          padding-left: 20px;

          input {
            border: none;
            border-bottom: 1px solid #e5ceb2;
            background: transparent;
            width: 20px;
            color: #e5ceb2;
            text-align: center;
            font-size: 16px;
          }
        }
        .cart-item-remove {
          position: absolute;
          top: 20px;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
  .cart-total {
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    @include respond-min($tablet-landscape) {
      position: fixed;
      bottom: 40px;
    }
    @include transition(
      (opacity 0.3s ease-in-out, visibility 0.3s ease-in-out)
    );
    span {
      float: right;
      font-size: 16px;
    }
  }
}
.cart-open {
  .top-menu {
    @include respond-max($tablet-landscape) {
      .cart-icon,
      .cart-num,
      .cart .close {
        display: none;
      }
      .cart-close {
        display: block;
      }
    }
    .cart {
      opacity: 1;
      visibility: visible;
      .cart-sidebar {
        transform: translate3d(0%, 0, 0);
      }
    }
  }
}
.black-bg {
  .cart-search {
    .search {
      input {
        border-color: #e5ceb2;
      }
      button {
        color: #e5ceb2;
      }
    }
    .cart-info {
      color: #e5ceb2;
    }
  }
}
