@import "mixins";
@import "variables";

// Setup
@import "setup/reset";
@import "setup/variables";
@import "setup/mixins";
// @import 'setup/round-numbers';
@import "setup/grid";
@import "setup/fonts";
@import "setup/spacing";
@import "setup/typography";
@import "setup/icons";
@import "setup/animations";
// @import 'setup/tooltips';

@import "pages/home";
@import "global";
@import "typography";
@import "partials/footer";
@import "partials/popup-gallery";
@import "partials/content-blocks";
@import "icons";
@import "fullpage";
@import "nav";
@import "pages/stores";
@import "pages/homepage";
//@import "pages/collection";
@import "pages/about-us";
@import "slick";
@import "slide-n-fade"; // Eventbrite
@import "eventbrite/listing";
@import "eventbrite/single";

body {
  background: #000000;
  color: #e5ceb2 !important;
}

#lookbook {
  .looks {
    display: flex;
    flex-wrap: wrap;
    .look-item {
      width: 23%;
      position: relative;
      overflow: hidden;
      img {
        top: 0;
        bottom: 0;
        width: 100%;
      }
      .desc {
        transform: translateY(100%);
        position: absolute;
        bottom: 0;
        background: rgba(27, 27, 27, 0.61);
        a {
          letter-spacing: 0.04em;
          margin-bottom: 5px;
          font-family: "HelveticaNeueLTStd-Lt";
          color: #f5f1e1 !important;
        }
      }
      &:hover {
        .desc {
          transform: translateY(0%);
        }
      }
    }
  }
}
