<head>
    <meta charset="UTF-8">
    <title>{{ html_title }}</title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
    <meta name="description" content="{{ site.description }}">
    <meta content="telephone=no" name="format-detection">

    <link rel="shortcut icon" href="{{ td }}/assets/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="{{ td }}/assets/images/apple-touch-icon-precomposed.png" />

    <link href="http://gmpg.org/xfn/11" rel="profile" />
    <link
    rel="stylesheet" type="text/css" media="all" href="{{ td }}/assets/css/main.css?refres=y{{ random(500) }}" />

    <!-- wp_head start -->
    {{ function('wp_head') }}
    <!-- wp_head end -->
    <!--  hi -->
    <!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-131154879-2"> </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-131154879-2');
    </script>
</head>