<nav " ~ menu_class" class="top-menu">
    <div class="nav-bar">
        <div class="menu-link">
            <div class="menu-icon">
                <div class="center"></div>
            </div>
        </div>
        <div class="menu-logo">
            <a href="/"><img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/11/28163953/uz-ivory-logo-684x203.svg"></a>
        </div>

        <div class="cart-search">
            <form action="https://shop.urbanzen.com/search" class="search">
                <input name="q" type="text">
                <button type="submit">
                    <div class="material-icons">search</div>
                </button>
            </form>
            <div class="cart-info">
                <div class="cart-icon"></div>
                <div class="cart-num">(<span class="cart-count">0</span>)</div>
                <div class="material-icons cart-close">close</div>
            </div>
        </div>
    </div>
    <div class="cart">
        <div class="cart-sidebar">
            <div class="material-icons close">close</div>
            <h2>MY BAG</h2>
            <div class="no-items">Your Bag is empty</div>
            <ul class="cart-items"></ul>
            <div class="cart-total">
                Subtotal
                <span class="cart-subtotal"></span>
            </div>
            <a class="checkout-button">checkout</a>
        </div>
    </div>
    <ul class="main-menu">
        <div class="mobile-search">
            <form action="https://shop.urbanzen.com/search" class="search">
                <input name="q" type="text">
                <button type="submit">
                    <div class="material-icons">search</div>
                </button>
            </form>
        </div>
        {% if menu %}
            <ul>
                {% for item in menu %}
                    <li class="{{ item.classes | join(' ') }}">
                        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                        {% include "menu.twig" with {'menu': item.get_children} %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="social">
            {% for social in options.social_media %}
                <a href="{{ social.link }}" class="icomoon-{{ social.platform }}"></a>
            {% endfor %}
        </div>
    </li>
</ul></nav>