<div class="newsletter_popup">
	<div class="popup-body">
	<div class="close" data-close=""><i class="material-icons">close</i></div>
	 <div id="target">
		 <div class="popup-text">{# <h1 class="light">CONNECT WITH US</h1><p class="p2 light">Subscribe and be the first to know about our events, foundation news, new products and artisan stories.</p> #}</div>
		 <img class="hide-mobile" width="600" height="400" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2019/02/04214406/2018_11_29_Demme_URBANZEN_2_NY_Shot_05-_012-cl2.jpg" />
		 <img class="hide-desktop" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2019/02/04214405/2018_11_29_Demme_URBANZEN_2_NY_Shot_05-_012-cl2_m.jpg" />
		 <form class="newsletter-signup" data-td={{ td }}>
		 	<input type="text" name="email" placeholder="Email Address">
		 	<button type="submit" class="cta-button">sign up</button>
		 </form>
	  </div>
  </div>
</div>