{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<header class="header">
    {% block header %}
        <div class="wrapper">
            <nav class="nav-main" id="nav-main" role="navigation">
                {% include "/partials/menu.twig" with {
                    'menu' : menu.get_items
                } %}
            </nav>
            <!-- #nav -->
        </div>
    {% endblock %}
</header>
<div class="full-width-page" id="page">
    <section class="content-wrapper" id="content" role="main">
        {% if title %}
            <h1>{{title}}</h1>
        {% endif %}
        <div class="wrapper {{sidebar_class}}">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </div>
        {% if sidebar %}
            <aside class="layout-sidebar">
                {{sidebar}}
            </aside>
        {% endif %}
    </section>
</div>

{% block footer %}

    {% include 'footer.twig' %}

    {{ function('wp_footer') }}
{% endblock %}</body></html>