<footer>
    <div class="social">
        <a class="icomoon-instagram" href="https://instagram.com/urbanzen"></a>
        <a class="icomoon-facebook" href="https://facebook.com/urbanzen"></a>
        <a class="icomoon-pinterest" href="https://pinterest.com/urbanzenpins"></a>
        <a class="icomoon-twitter" href="https://twitter.com/urban_zen"></a>
    </div>
    <div class="newsletter-callout">
        <span class="material-icons">mail_outline</span>Join Our Newsletter</div>
    <ul class="footer-menu">
        <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-2236">
            <a href="https://urbanzen.com/past-collections/" title="Past Collections">Past Collections</a>
        </li>
        <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-329">
            <a href="https://urbanzen.com/client-services/" title="Client Services">Client Services</a>
        </li>
        <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-327">
            <a href="https://urbanzen.com/size-guide/" title="Size Guide">Size Guide</a>
        </li>
        <li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-328">
            <a href="https://urbanzen.com/legal/" title="Terms of Use &amp; Privacy Policy">Terms of Use &amp; Privacy Policy</a>
        </li>
    </ul>

</footer>