{% extends "base.twig" %}
{% set body_class = 'page-home black-bg' %}
{% set menu_class = 'transparent-bg' %}
{% set page_class = 'full-width-page' %}

{% block content %}
    <div class="top-slider">
        <figure>
            <picture>
                <source media="(max-width: 768px)" srcset="{{ post.meta('mobile') }}">
                <img src="{{ post.meta('desktop')}}" srcset="{{ post.meta('desktop')}}">
            </picture>
        </figure>
    </div>
    <div class="collection"></div>
    <div class="home-categories">

        <div class="category-cards">

            {% for item in post.meta('collection_links') %}
                <figure>
                    <pre>

</pre>
                    <picture>
                        <img src="{{item.image.url}}">
                    </picture>
                    <figcaption class="center">
                        <p>
                            <a target="" href="{{item.link}}">
                                {{item.title}}
                            </a>
                        </p>


                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </div>

{% endblock %}