{% extends "base.twig" %}
{% set body_class = 'page-stores' %}

{% block content %}

    <div class="title-heading">
        <h1>{{ post.title }}</h1>
    </div>
    <div id="lookbook">
        <div class="looks">
            <div class="look-item">

                <div class="look-number"></div>
                <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2019/03/07070641/2018_12_03_Urban_Zen17372-Edit.jpg">
                <div class="desc" data-product-links="">
                    <a href="http://shop.urbanzen.com/products/draped-silk-coat?variant=14101938765859" id="look-1-draped-silk-coat?variant=14101938765859">• DRAPED SILK COAT</a>
                    <a href="http://shop.urbanzen.com/products/draped-top?variant=14101870313507" id="look-2-draped-top?variant=14101870313507">• DRAPED TOP</a>
                    <a href="http://shop.urbanzen.com/products/scarf-pant?variant=14101921988643" id="look-3-scarf-pant?variant=14101921988643">• SCARF PANT</a>
                </div>
            </div>
            <div class="look-item">

                <div class="look-number"></div>
                <img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2019/03/07070641/2018_12_03_Urban_Zen17372-Edit.jpg">
                <div class="desc" data-product-links="">
                    <a href="http://shop.urbanzen.com/products/draped-silk-coat?variant=14101938765859" id="look-1-draped-silk-coat?variant=14101938765859">• DRAPED SILK COAT</a>
                    <a href="http://shop.urbanzen.com/products/draped-top?variant=14101870313507" id="look-2-draped-top?variant=14101870313507">• DRAPED TOP</a>
                    <a href="http://shop.urbanzen.com/products/scarf-pant?variant=14101921988643" id="look-3-scarf-pant?variant=14101921988643">• SCARF PANT</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{# end content #}