{% extends "base.twig" %}
{% set body_class = 'page-stores' %}

{% block content %}

    <div class="title-heading">
        <h1>{{ post.title }}</h1>
    </div>
    {% if post.stores %}
        <div class="stores-list">
            {% for store in post.meta("stores") %}
                <div class="store-item" id="{{ store.title | lower }}">
                    <div class="store-slideshow">
                        <div class="store-images">
                            {% for image in store.images %}
                                <div class="store-image">
                                    <img src="{{ image.url}}" alt="{{ image.alt }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="store-details">
                        <h2>{{ store.title }}</h2>
                        <div class="store-info">{{ store.info }}</div>
                        <div class="store-hours">{{  store.hours }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{# end content #}