.page-stores {
  #content {
    margin-bottom: 0;
  }
  .title-heading {
    padding: 2em 0;
    text-align: center;
    position: relative;
  }
  .store-item {
    margin-bottom: 20px;
    @include respond($tablet-portrait) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:nth-child(2) {
      flex-direction: row-reverse;
    }
    h2 {
      font-family: "HelveticaNeueLTStd-BdEx", "HelveticaNeue", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
      font-size: 18px;
      line-height: 1em;
      letter-spacing: 0;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      padding-bottom: 1em;
    }

    .store-info {
      @include respond-max($tablet-portrait) {
        padding-top: 1em;
      }
      p,
      a {
        color: #e5ceb2;
      }
    }
    .store-hours {
      padding-top: 1em;
      @include respond-max($tablet-portrait) {
        padding-top: 2em;
      }
    }
    .store-slideshow {
      @include respond($tablet-portrait) {
        width: 75%;
      }
      &:hover {
        .slick-arrow {
          opacity: 1;
        }
      }
      @include respond-min($tablet-portrait) {
        .slick-arrow {
          opacity: 0;
          animation: none !important;
          -webkit-animation: none !important;
          @include transition((opacity 0.2s ease-in-out));
        }
      }

      .store-images {
        .slick-list,
        .slick-track {
        }
        .store-image {
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .store-details {
      @include respond($tablet-portrait) {
        width: 40%;
      }
      padding: 1em 30px;
      @include respond-max($tablet-portrait) {
        padding: 2em 30px;
      }
    }
  }
}
