footer {
  @include respond-min($tablet-landscape) {
    height: 85px;
  }
  position: relative;
  padding: 30px 20px;
  background: black;
  @include respond-max($tablet-landscape) {
    border-top: 1px solid #333;
  }
  .footer-menu {
    text-align: right;
    @include respond-max($tablet-landscape) {
      text-align: center;
    }
    li {
      display: inline-block;
      line-height: 30px;
      @include respond-max($tablet-landscape) {
        display: block;
        width: 100%;
      }
      a {
        font-family: "HelveticaNeueLTStd-Lt", "Helvetica Neue Light", Helvetica,
          Arial, sans-serif;
        color: $ivory;
        font-size: 13px;
        letter-spacing: 0.1em;
        padding: 0 20px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  .newsletter-callout {
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    @include respond-min($tablet-landscape) {
      text-align: right;
      position: absolute;
      left: 20px;
      top: 30px;
    }
    font-family: "HelveticaNeueLTStd-Lt", "Helvetica Neue Light", Helvetica,
      Arial, sans-serif;
    color: $ivory;
    font-size: 13px;
    letter-spacing: 0.1em;
    span {
      line-height: 19px;
      margin-right: 5px;
    }
  }
  .social {
    @include respond-min($tablet-landscape) {
      display: none;
    }
    text-align: center;
    margin-bottom: 20px;
    a {
      border: 1px solid $ivory;
      border-radius: 50%;
      padding: 8px;
      color: $ivory;
      margin: 0 4px;
    }
  }
}
.footer-push {
  @include respond-min($tablet-landscape) {
    height: 85px;
  }
}
